### SellOut: Información de venta al consumidor final.

In [31]:
import pandas as pd
import numpy as np

In [14]:
# Importo el Dataframe en formato Excel
df_sellout = pd.read_excel("SellOut.xlsx")

In [23]:
# Observo el Dataframe con el que voy a trabajar. 
df_sellout

,Año,Fecha,Nombre Categoría,Nombre Subcategoria,Nombre SubCategoria 2,Código Producto,Nombre Producto,Nombre Corto Unidad de Negocio,Código Local,Nombre Local,Cantidad Items,Venta Neta,Costo Total de Venta
0,2020,2020-02-01,SHAMPOO ACONDICIONADOR Y TRATAMIENTO,ACONDICIONADOR CREMA Y TRATAMIENTOS COSMETICOS,ACONDICIONADOR IL SALONE.,100147247,ACONDICIONADOR IL SALONE EPIC 500 ML,FYBECA,12,FYBECA PLAZA DE LAS AMERICAS,1,28.499999,29.792
1,2020,2020-02-01,SHAMPOO ACONDICIONADOR Y TRATAMIENTO,ACONDICIONADOR CREMA Y TRATAMIENTOS COSMETICOS,ACONDICIONADOR IL SALONE.,100147247,ACONDICIONADOR IL SALONE EPIC 500 ML,FYBECA,15,FYBECA CORUÑA,1,28.499999,29.792
2,2020,2020-02-01,SHAMPOO ACONDICIONADOR Y TRATAMIENTO,ACONDICIONADOR CREMA Y TRATAMIENTOS COSMETICOS,ACONDICIONADOR IL SALONE.,100181637,ACONDICIONADOR IL SALONE MAGNIFICENT PROTECTIO...,FYBECA,15,FYBECA CORUÑA,1,31.900000,29.792
3,2020,2020-02-01,SHAMPOO ACONDICIONADOR Y TRATAMIENTO,ACONDICIONADOR CREMA Y TRATAMIENTOS COSMETICOS,ACONDICIONADOR IL SALONE.,100181637,ACONDICIONADOR IL SALONE MAGNIFICENT PROTECTIO...,FYBECA,25,FYBECA CUMBAYA,1,31.900000,29.792
4,2020,2020-02-01,SHAMPOO ACONDICIONADOR Y TRATAMIENTO,ACONDICIONADOR CREMA Y TRATAMIENTOS COSMETICOS,ACONDICIONADOR IL SALONE.,100181637,ACONDICIONADOR IL SALONE MAGNIFICENT PROTECTIO...,FYBECA,31,FYBECA CARCELEN,1,31.900000,29.792
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4852,2021,2021-03-31,TINTES Y COLORACION,TINTES PERMANENTES,TINTE IL SALONE,100164068,TINTE IL SALONNE COLORE # 7.1,FYBECA,1,FYBECA BATAN,1,15.950001,17.304
4853,2021,2021-03-31,TINTES Y COLORACION,TINTES PERMANENTES,TINTE IL SALONE,100164068,TINTE IL SALONNE COLORE # 7.1,FYBECA,19,FYBECA QUICENTRO,1,15.950001,17.304
4854,2021,2021-03-31,TINTES Y COLORACION,TINTES PERMANENTES,TINTE IL SALONE,100164068,TINTE IL SALONNE COLORE # 7.1,FYBECA,631,FYBECA GRANADOS,1,15.950001,17.304
4855,2021,2021-03-31,TINTES Y COLORACION,TINTES PERMANENTES,TINTE IL SALONE,100164068,TINTE IL SALONNE COLORE # 7.1,FYBECA,1461,FYBECA SAN RAFAEL,1,15.950001,17.304
4856,2021,2021-03-31,TINTES Y COLORACION,TINTES PERMANENTES,TINTE IL SALONE,100164532,TINTE IL SALONE SLC COLORE YELLOW REMOVER,FYBECA,15,FYBECA CORUÑA,1,15.950001,17.304

In [16]:
# Observo las primeras filas del DataFrame
df_sellout.head()

,Año,Fecha,Nombre Categoría,Nombre Subcategoria,Nombre SubCategoria 2,Código Producto,Nombre Producto,Nombre Corto Unidad de Negocio,Código Local,Nombre Local,Cantidad Items,Venta Neta,Costo Total de Venta
0,2020,2020-02-01,SHAMPOO ACONDICIONADOR Y TRATAMIENTO,ACONDICIONADOR CREMA Y TRATAMIENTOS COSMETICOS,ACONDICIONADOR IL SALONE.,100147247,ACONDICIONADOR IL SALONE EPIC 500 ML,FYBECA,12,FYBECA PLAZA DE LAS AMERICAS,1,28.499999,29.792
1,2020,2020-02-01,SHAMPOO ACONDICIONADOR Y TRATAMIENTO,ACONDICIONADOR CREMA Y TRATAMIENTOS COSMETICOS,ACONDICIONADOR IL SALONE.,100147247,ACONDICIONADOR IL SALONE EPIC 500 ML,FYBECA,15,FYBECA CORUÑA,1,28.499999,29.792
2,2020,2020-02-01,SHAMPOO ACONDICIONADOR Y TRATAMIENTO,ACONDICIONADOR CREMA Y TRATAMIENTOS COSMETICOS,ACONDICIONADOR IL SALONE.,100181637,ACONDICIONADOR IL SALONE MAGNIFICENT PROTECTIO...,FYBECA,15,FYBECA CORUÑA,1,31.900000,29.792
3,2020,2020-02-01,SHAMPOO ACONDICIONADOR Y TRATAMIENTO,ACONDICIONADOR CREMA Y TRATAMIENTOS COSMETICOS,ACONDICIONADOR IL SALONE.,100181637,ACONDICIONADOR IL SALONE MAGNIFICENT PROTECTIO...,FYBECA,25,FYBECA CUMBAYA,1,31.900000,29.792
4,2020,2020-02-01,SHAMPOO ACONDICIONADOR Y TRATAMIENTO,ACONDICIONADOR CREMA Y TRATAMIENTOS COSMETICOS,ACONDICIONADOR IL SALONE.,100181637,ACONDICIONADOR IL SALONE MAGNIFICENT PROTECTIO...,FYBECA,31,FYBECA CARCELEN,1,31.900000,29.792

In [46]:
# Puedo ver una tupla con el número de filas y columnas del DataFrame
df_sellout.shape

(4857, 13)

In [17]:
# Observo el tipo de datos que tiene el DataFrame
df_sellout.dtypes

Año                                        int64
Fecha                             datetime64[ns]
Nombre Categoría                          object
Nombre Subcategoria                       object
Nombre SubCategoria 2                     object
Código Producto                            int64
Nombre Producto                           object
Nombre Corto Unidad de Negocio            object
Código Local                               int64
Nombre Local                              object
Cantidad Items                             int64
Venta Neta                               float64
Costo Total de Venta                     float64
dtype: object

In [45]:
# Con el comando info() me hago una idea con los campos que voy a trabajar
df_sellout.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4857 entries, 0 to 4856
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Año                             4857 non-null   int64
 1   Fecha                           4857 non-null   datetime64[ns]
 2   Nombre Categoría                4857 non-null   object
 3   Nombre Subcategoria             4857 non-null   object
 4   Nombre SubCategoria 2           4857 non-null   object
 5   Código Producto                 4857 non-null   int64
 6   Nombre Producto                 4857 non-null   object
 7   Nombre Corto Unidad de Negocio  4857 non-null   object
 8   Código Local                    4857 non-null   int64
 9   Nombre Local                    4857 non-null   object
 10  Cantidad Items                  4857 non-null   int64
 11  Venta Neta                      4857 non-null   float64
 12  Costo Total de Venta            4857 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(4), object(6)
memory usage: 493.4+ KB

In [44]:
# Creo una variable para saber si existen valores nulos en el dataframe 
valores_nulos = df_sellout.isnull()
valores_nulos

,Año,Fecha,Nombre Categoría,Nombre Subcategoria,Nombre SubCategoria 2,Código Producto,Nombre Producto,Nombre Corto Unidad de Negocio,Código Local,Nombre Local,Cantidad Items,Venta Neta,Costo Total de Venta
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4852,False,False,False,False,False,False,False,False,False,False,False,False,False
4853,False,False,False,False,False,False,False,False,False,False,False,False,False
4854,False,False,False,False,False,False,False,False,False,False,False,False,False
4855,False,False,False,False,False,False,False,False,False,False,False,False,False
4856,False,False,False,False,False,False,False,False,False,False,False,False,False

In [37]:
# Observo que no existen valores nulos en todo el dataframe
valores_nulos.sum()

Año                               0
Fecha                             0
Nombre Categoría                  0
Nombre Subcategoria               0
Nombre SubCategoria 2             0
Código Producto                   0
Nombre Producto                   0
Nombre Corto Unidad de Negocio    0
Código Local                      0
Nombre Local                      0
Cantidad Items                    0
Venta Neta                        0
Costo Total de Venta              0
dtype: int64

In [41]:
# con any() verifico si hay filas duplicadas en el DataFrame
hay_duplicados = df_sellout.duplicated().any()

if hay_duplicados:
    print("Existen filas duplicadas en el DataFrame.")
else:
    print("No hay filas duplicadas en el DataFrame.")

No hay filas duplicadas en el DataFrame.